@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Palatino Linotype';
    src: url('@/src/assets/fonts/font-palatino-linotype.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
};

@layer base{
    body{
        @apply bg-fond dark:bg-fond-dark_mode
    }

    section{
        @apply px-5 md:px-20 my-20
    }

    h1{
        @apply my-10 font-palatino-linotype font-bold text-xl md:text-2xl text-tonic dark:text-tonic-dark_mode
    }

    h2{
        @apply my-10 font-palatino-linotype font-bold italic text-lg md:text-xl text-secondaire_fonce dark:text-secondaire_claire
    }

    p{
        @apply text-sm md:text-base text-tertiaire_fonce dark:text-tertiaire_claire
    }

    span{
        @apply font-extrabold
    }

}